<% if player.avatar.present? %>
  <div class='user_avatar'>
    <%= image_tag player.avatar.thumb %>
  </div>
<% end %>
  <div class='user_nickname'>
    <%= player.nickname %>
  </div>
<div class='player_hp'>
  HP:
  <span class='value'>
    <%= player_data[:hp] %>
  </span>
</div>

<div class='player_red_mana'>
  Red mana:
  <span class='value'>
    <%= player_data[:red_mana] %>
  </span>
</div>

<div class='player_green_mana'>
  Green mana:
  <span class='value'>
    <%= player_data[:green_mana] %>
  </span>
</div>

<div class='player_blue_mana'>
  Blue mana:
  <span class='value'>
    <%= player_data[:blue_mana] %>
  </span>
</div>

<div class='player_yellow_mana'>
  Yellow mana:
  <span class='value'>
    <%= player_data[:yellow_mana] %>
  </span>
</div>

<div class='player_money'>
  Money:
  <span class='value'>
    <%= player_data[:money] %>
  </span>
</div>

<div class='player_expirience'>
  Expirience:
  <span class='value'>
    <%= player_data[:expirience] %>
  </span>
</div>
