<% if player.avatar.present? %>
  <div class='user_avatar'>
    <%= image_tag player.avatar.thumb %>
  </div>
<% end %>
  <div class='user_nickname'>
    <%= player.nickname %>
  </div>
<div class='player_hp'>
  HP:
  <span class='value'>
    <%= player_data[:hp] %>
  </span>
</div>

<div class='player_alchemy'>
  Alchemy:
  <span class='value'>
    <%= player_data[:alchemy] %>
  </span> /
  <span class='max_value'>
    <%= player_data[:max_alchemy] %>
  </span>
</div>

<div class='player_green_mana'>
  Green mana:
  <span class='value'>
    <%= player_data[:green_mana] %>
  </span> /
  <span class='max_value'>
    <%= player_data[:max_green_mana] %>
  </span>
</div>

<div class='player_blue_mana'>
  Blue mana:
  <span class='value'>
    <%= player_data[:blue_mana] %>
  </span> /
  <span class='max_value'>
    <%= player_data[:max_blue_mana] %>
  </span>
</div>

<div class='player_gear'>
  Gear:
  <span class='value'>
    <%= player_data[:gear] %>
  </span> /
  <span class='max_value'>
    <%= player_data[:max_gear] %>
  </span>
</div>

<div class='player_piston'>
  Piston:
  <span class='value'>
    <%= player_data[:piston] %>
  </span>
  </span> /
  <span class='max_value'>
    <%= player_data[:max_piston] %>
  </span>
</div>

<div class='player_expirience'>
  Expirience:
  <span class='value'>
    <%= player_data[:expirience] %>
  </span>
</div>

