<div class='container'>
  <div id='player_hp' class='pull-left'>
    <%= @game.players_data[current_user.token][:hp] %>
  </div>
  <div class='canvas_block pull-left'>
    <div class='canvas' id="board" game-id=<%= @game.id %> ></div>
    <div class='canvas' id="screen"></div>
  </div>
  <div id='opponent_hp' class='pull-left'>
    <%= @game.players_data[@game.opponent(current_user).token][:hp] %>
  </div>
</div>

<script type="text/javascript">
  window.current_gems_position = <%= @game.board.current_gems_position.to_json.html_safe %>
  window.active_player = <%= current_user.token == @game.active_player_token %>
</script>
