<!DOCTYPE html>
<html>
<head>
  <title>Exodus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://localhost:9292/faye/faye.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/additional_js' %>
  <%= render 'shared/header' %>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
