<!DOCTYPE html>
<html>
<head>
  <title>Exodus</title>
  <%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'game', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, 'http://localhost:9292/faye.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
